<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    </head>
    <body>
        {% include "header.html" %}
        <div class="container content-container">
            <br>
            <div class="featured-content">
                <img class="mx-auto d-block img-fluid featured-image" src="{% static 'houses/all_houses.png' %}">
                <h1 class="text-center">Chapters</h1>
            </div>
            <div class="mx-5 text-center body-content">
                <div class="row justify-content-center house-list">
                    {% for house, nospace in houses %}
                        <div class="col-sm-5 col-7 my-1 col-md-4"><a href="{{ nospace }}">{{ house }}</a></div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>