<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{house.english_name}}</title>
    {% load static %}
</head>
<body>
    <style>
    </style>
    {% include "header.html" %}
    <div class="container content-container">
        {% if has_perms %}
        <span class="ml-3 edit">[<a href="edit">edit</a></span>
        |
        <span class="create-event"><a href="/events/chapter/{{ house.lower_repr }}/new">+ New Event]</a></span>
        {% endif %}
        <br>
        <div class="title-breakout pl-3 ml-3 my-3 house-title">
            <h1 class="mb-0 font-weight-bold">{{house.english_name}}</h1>
            <h2 class="font-weight-light text-med-gray">{{house.nickname}}</h2>
        </div>
        <div class="container featured-content">
            {% if has_featured_image %}
                <img class="mx-auto d-block img-fluid mb-3 featured-image" src="{{house.featured_picture.url}}">
            {% else %}
                <img class="mx-auto d-block img-fluid mb-3 featured-image" src="{% static 'houses/all_houses.png' %}">
            {% endif %}
                <p class="mx-5 text-med-gray featured-text" id="motto">
                    "{{house.motto}}"
                </p>
                <hr class="mx-5 px-5">
            </div>
            <div class="mx-4 body-content">
                <p>
                    {{ house.extra_info|linebreaks }}
                </p>
                <h3>Values</h3>
                <p>
                    {{ house.values }}
                </p>
            {% if house.house_pic %}
                <img src="{{ house.house_pic.url }}" alt="{{ house.english_name }} House">
            {% endif %}
            <br>
            {% if house.calendar_link %}
                <iframe src="{{ house.calendar_link }}" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            {% endif %}
            </div>
    </div>
    {% include "footer.html" %}
</body>
</html>