<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{house.english_name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
    <link rel="stylesheet" href="{% static 'houses/single_house.css' %}">
</head>
<body>
    <style>
        .nav-bar {
            background: {{ house.primary_color }} !important;
        }

        .nav-bar li:hover{
            background: {{ house.secondary_color }} !important;
        }
    </style>
    {% include "header.html" %}
    <div class="content-container">
        <div class="house-title">
            <h1>{{house.english_name}}</h1>
            <h2>{{house.nickname}}</h2>
        </div>
        <div class="featured-content">
            {% if has_featured_image %}
                <img class="featured-image" src="{{house.featured_picture.url}}">
            {% else %}
                <img class="featured-image" src="{% static 'houses/all_houses.png' %}">
            {% endif %}
                <p class="featured-text" id="motto">
                    "{{house.motto}}"
                </p>
                <span class="featured-divider"></span>
            </div>
            <div class="body-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illum veritatis iste non quasi, perferendis porro eum quaerat cupiditate ex pariatur dolores asperiores, aperiam incidunt mollitia facere fugiat laborum quisquam!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt molestias commodi ipsam quos odio quis voluptate ad provident eligendi dolores beatae, aliquam illo ut error at. Nulla aliquid totam quos.
                </p>
            </div>
    </div>
    {% include "footer.html" %}
</body>
</html>