.event-title, .event-description {
    display: block;
    width: 60%;
    margin: auto;
}

.content-container #id_title {
    display: block;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    margin-top: .75em;
    margin-bottom: 1em;
    padding: 2px .5em;
}

.content-container #id_title:focus {
    box-shadow: 0 0 2px black;
}

.content-container #id_description {
    display: block;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    margin-top: .75em;
    margin-bottom: 1em;
    padding: 2px .5em;
    width: 100%;
}

.content-container #id_description:focus {
    box-shadow: 0 0 2px black;
}

.content-container .event-splash-image {
    display: block;
    width: 60%;
    margin: auto;
}

.event-title, .event-date-time {
    display: block;
    width: 60%;
    margin: auto;
}

.content-container #id_d_time {
    display: block;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    margin-top: .75em;
    margin-bottom: 1em;
    padding: 2px .5em;
}