<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
    <link rel="stylesheet" href="{% static 'ifcweb/about.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content-container">
        <h1>WPI's Interfraternity Council</h1>
        <h2>Mission</h2>
        <p>
            Content
        </p>
        <div class="officer-structure">
            <h2>Structure</h2>
            <p>
                <img src="{% static 'ifcweb/ifc-orgchart.png' %}" alt="org chart">
                <div class="officer-cards">
                    {% if not errors %}
                        {% for user, headshot, position, slug in officers %}
                        <div class="card">
                            <a href="officer/{{ slug }}">
                            <img src="{{ headshot.url }}" alt="headshot">
                            </a>
                            <span class="officer-name">
                                {{ user.first_name }} {{ user.last_name }}<br>
                            </span>
                            <span class="officer-position">
                                {{ position }}
                            </span>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>President</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident0</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident1</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident2</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident3</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident4</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident5</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident6</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident7</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident8</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident9</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident10</span></div>
                    <div class="card"><img src="http://via.placeholder.com/100x100" alt="headshot"><span>VPresident11</span></div>
                    ERRORS
                    {% endif %}
                </div>
            </p>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>