<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content-container">
        <h1>WPI's Inter-Fraternity Council</h1>
        <p>
            Content
        </p>
    </div>
    {% include 'footer.html' %}
</body>
</html>