<div class="nav-bar">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400i" rel="stylesheet">
    <a href="/" class="home-image">
    {% load static %}
    <img src="{% static 'ifcweb/logo.svg' %}" alt="Logo">
    </a>
    <ul>
        <a href="/about"><li>About</li></a>
        <a href="/house"><li>Houses</li></a>
        <li>Events</li>
        <a target="_blank" href="https://wpi.campuslabs.com/engage/organization/interfraternity-council"><li>TechSync</li></a>
<!--        <li>Login</li> -->
    </ul>
</div>