<div class="nav-bar">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400i" rel="stylesheet">
    <a href="/" class="home-image">
    {% load static %}
    <img src="{% static 'ifcweb/logo.svg' %}" alt="Logo">
    </a>
    <ul>
        <a href="/about"><li>About</li></a>
        <a href="/house"><li>Houses</li></a>
        <a href="/events"><li>Events</li></a>
        <a target="_blank" href="https://wpi.campuslabs.com/engage/organization/interfraternity-council"><li>TechSync</li></a>
        {% if request.user.is_authenticated %}
        <li class="drop-down">
        <div>
            <span>{{ request.user.username }} &dharr;</span>
            <div class="drop-down-content">
                <a href="/logout">Logout</a>
            </div>
        </div>
        </li>
        {% else %}
        <a href="/login"><li>Login</li></a>
        {% endif %}
    </ul>
</div>