<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>WPI IFC</title>
</head>
<body>
    {% include "header.html" %}
    <div class="container content-container">
        <br>
        <div class="jumbotron" style="background-image: url({% static 'ifcweb/splash.jpg' %}); background-position: center; background-size: cover;">
            <h2 class="font-weight-bold text-right py-5">
                <p>WPI Inter-Fraternity Council</p>
                <p class="lead text-med-gray">Developing The Leaders of Tomorrow</p>
                <br><br>
            </h1>
        </div>
        <h1>
            Main page
        </h1>
        <div class="dynamic-content">
            <br>
            <h2>Recent Posts</h2>
                <ul class="posts">
                    {% if posts|length > 0 %}
                    {% for post in posts %}
                        <li class="post">
                            <h1><a href="about/officer/{{ post.blog.slug }}/{{ post.id }}">{{ post.title }}</a></h1>
                            <h2>{{ post.published|date:"M, D d, Y" }} - {{ post.author.first_name }} {{ post.author.last_name }} to {{ post.blog.position_title }}</h2>
                            <p class="post-preivew">{{ post.body|truncatewords:50 }}</p>
                        </li>
                    {% endfor %}
                    {% else %}
                    <h3>There are no posts</h3>
                    {% endif %}
                </ul>
            </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
