<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <title>Login</title>
</head>
<body>
{% include 'header.html' %}
    <div class='content-container container'>
        <br>
        <h1>Login</h1>
        <form class='' method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <h3>Forgot Password?</h3>
        <a class="pl-3" href="{% url 'password_reset' %}"><span>Reset it here.</span></a>
        <br>
        <br>
    </div>
{% include 'footer.html' %}
</body>
</html>