.featured-picture {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.featured-picture img{
    filter: blur(5px);
    margin-top: -5%;
    margin-bottom: -15%;
    max-width: 100%;
    display: block;
}

.call-to-text{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    text-align: right;
    bottom: 45%;
    right: 5%;
    color: #d6d6d6;
    font-weight: bold;
    font-size: 40px;
}