<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
    <link rel="stylesheet" href="{% static 'events/events_overview.css' %}">
    <title>Events</title>
</head>
<body>
    {% include 'header.html' %}
        <div class="content-container">
            <h1>Upcoming Events</h1>
            <div class="calendar-container">
                Placeholder
            </div>
			<ul class="event-columns">
				<li>
				<div class="dynamic-content officer-events">
				<h2 class="event-column-title">Upcoming IFC Events</h2>
					<ul class="events">
						{% if ifc_events|length > 0 %}
						{% for event in ifc_events %}
							<li class="event">
								<h2><a href="officer/{{ event.id }}">{{ event.title }}</a></h2>
								<h3>{{ event.d_time|date:"M, D d, Y - h:i" }}
									<br>
									Added By {{ event.owner.first_name }} {{ event.owner.last_name }}</h3>
							</li>
						{% endfor %}
						{% else %}
						<h3>There are no IFC events</h3>
						{% endif %}
					</ul>
				</div>
				</li>
				<li>
				<div class="dynamic-content chapter-events">
					<h2 class="event-column-title">Upcoming Chapter Events</h2>
						<ul class="events">
							{% if chapter_events|length > 0 %}
							{% for event in chapter_events %}
								<li class="event">
									<h2><a href="chapter/{{ event.id }}">{{ event.title }}</a></h2>
									<h3>{{ event.d_time|date:"M, D d, Y - h:i" }}
										<br>
										Added By {{ event.owner.english_name }}</h3>
								</li>
							{% endfor %}
							{% else %}
							<h3>There are no chapter events</h3>
							{% endif %}
						</ul>
					</div>
				</li>
			</ul>
        </div>
    {% include 'footer.html' %}
</body>
</html>