<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Events</title>
</head>
<body>
    {% include 'header.html' %}
        <div class="container content-container">
            <h1>Upcoming Events</h1>
            <div class="calendar-container">
                Placeholder
            </div>
			<div class="row event-columns">
				<div class="col dynamic-content officer-events">
				<h2 class="font-weight-bold event-column-title">Upcoming IFC Events</h2>
					<hr>
					<div class="events">
						{% if ifc_events|length > 0 %}
						{% for event in ifc_events %}
						<div class="row">
							<div class="col event">
								<h2><a class="text-med-gray" href="officers/{{ event.id }}">{{ event.title }}</a></h2>
								<h3>{{ event.d_time_start|date:"M, D d, Y - h:i" }}
									<br>
									Added By {{ event.owner.first_name }} {{ event.owner.last_name }}</h3>
							</div>
						</div>
						{% endfor %}
						{% else %}
						<div class="row">
							<h3 class="col">There are no IFC events</h3>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col dynamic-content chapter-events">
					<h2 class="font-weight-bold event-column-title">Upcoming Chapter Events</h2>
					<hr>
					<div class="events">
						{% if chapter_events|length > 0 %}
						{% for event in chapter_events %}
							<div class="row">
								<div class="col event">
									<h2><a class="text-med-gray" href="chapter/{{ event.id }}">{{ event.title }}</a></h2>
									<h3>{{ event.d_time_start|date:"M, D d, Y - h:i" }}
										<br>
										Added By {{ event.owner.english_name }}</h3>
								</div>
							</div>
						{% endfor %}
						{% else %}
						<div class="row">
							<h3 class="col">There are no chapter events</h3>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
        </div>
    {% include 'footer.html' %}
</body>
</html>