<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
    <link rel="stylesheet" href="{% static 'events/event_page.css' %}">
    <title>Events</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="content-container">
        <div class="featured-content">
            <div class="featured-image">
                <img src="{{ splash.url }}">
            </div>
        </div>
        <div class="body-content">
            Details go here
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>