<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Events</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="container content-container">
        <br>
        <div class="featured-content">
            <div class="featured-image">
                <img class="img-fluid mx-auto d-block" src="{{ splash.url }}">
            </div>
        </div>
        <div class="body-content">
            <h1>{{ title }}</h1>
            <h5>{{ time }}</h5>
            <p class="pl-2">{{ description }}</p>
            <br>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>