.content-container {
    padding: 10px;
}

.featured-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.body-content {
    margin-top: 10px;
    margin-bottom: 10px;
}