<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ position }} Overview</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'houses/base.css' %}">
    <link rel="stylesheet" href="{% static 'officers/base.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content-container">
        <h1>{{ position }}</h1>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <img src="{{ biography.headshot.url }}" alt="{{ user.username }}">
    </div>
    {% include 'footer.html' %}
</body>
</html>