<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ position }} Overview</title>
    {% load static %}
</head>
<body>
    {% include 'header.html' %}
    <div class="container content-container">
        <br>
        <div class="row static-content">
            <img class="col-md-2 h-100 img-fluid headshot" src="{{ biography.headshot.url }}" alt="{{ user.username }}">
            <div class="col-md-3 title-and-name">
                <h1>{{ position }}</h1>
                <h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
            <div class="col-7 biography">
                <h3>Biography:</h3>
                <p>{{ biography.content|linebreaks }}</p>
            </div>
        </div>
        <div class="row justify-content-center new-content">
            {% if request.user == user %}
            <div class="mx-1 create-content" id="post">
                <a href="new"><div class="btn btn-primary font-weight-bold">+ New Post</div></a>
            </div>
            {% if perms.events.add_officerevent %}
            <div class="mx-1 create-content" id="event">
                <a href="/events/officers/new"><div class="btn btn-primary font-weight-bold">+ New Event</div></a>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <hr>
        <div class="dynamic-content">
            <ul class="posts">
                {% if posts|length > 0 %}
                {% for post in posts %}
                    <li class="post">
                        <h1><a href="{{ post.id }}">{{ post.title }}</a></h1>
                        <h2>{{ post.published|date:"M, D d, Y" }}</h2>
                        <p class="post-preivew">{{ post.body|truncatewords:50 }}</p>
                    </li>
                {% endfor %}
                {% else %}
                <h3 class="my-5 text-center font-weight-bold empty-dyn-content">There are no posts from the {{ position }}</h3>
                <br>
                {% endif %}
            </ul>
        </div>
        <br>
    </div>
    {% include 'footer.html' %}
</body>
</html>