<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ post.title }}</title>
    {% load static %}
</head>
<body>
    {% include 'header.html' %}
    <div class="container px-5 content-container">
        <br>
        {% if request.user == post.author %}
        <span class="edit">[<a href="edit">edit</a>]</span>
        {% endif %}
        <div class="post-container">
            <h1 class="post-title">{{ post.title }}</h1>
            <h2 class="post-author">{{ post.author_string }}</h2>
            <div class="px-3 post-body">{{ post.body|linebreaks }}</div>
            {% if post.attachments %}
            <a class="post-attachments" href="{{ post.attachments.url }}">{{ post.attachments }}</a>
            {% endif %}
            <br>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>